body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}

.container {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
}

.temp {
  font-size: 35px;
  padding-bottom: 20px;
}

button {
  border-radius: 10px;
  background: lightblue;
}

button:focus {
  outline: none;
}

[data-color = "yellow"] {
  color: yellow;
}

[data-color = "green"] {
  color: green;
}

[data-color = "red"] {
  color: red;
}