
body {
  margin: 0;
  background-color: lightblue;
}

header {
  padding: 30px 0 0;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  padding-top: 40px;
  width:100%;
  top: 50%;
  left: 50%;
  text-align: center;
}

.temp {
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

.buttons {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.outside_temperature {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}

[data-color="yellow"] {
  color: yellow;
}

[data-color="red"] {
  color: red;
}

[data-color="green"] {
  color: green;
}